
body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  // background-color: #FF0099;
}

.mainmenu > ul {
  list-style: none;
  border: 2px dotted #898989;

  li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;

    a.active {font-weight: bold; color: rgba(35,82,124,.94); }
  }

}

.submenu > ul {
  list-style: none;
  font-weight: normal;

  li {
    display: inline-block;
    margin: 5px 5px 5px 15px;
    padding: 5px 5px;

    a.active {font-weight: bold; color: rgba(35,82,124,.94); }
  }

}